    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #3b2e23;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
        color: #ffffff;
    }

    .form-group {
        margin-bottom: 20px;
        background-color: #503a2c;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 0.3rem;
    }

    input,
    button {
        width: 100%;
        padding: 10px;
        border: 1px solid #f1bc91;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: #e7ba9c;
        color: #000000;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.514);
    }

    .btn-submit {
        background-color: #ee700a;
        color: white;
        border: none;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
    }

    .btn-submit:hover {
        background-color: #b33900;
    }

    .btn-back {
        background-color: #503a2c;
        color: white;
        border: none;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
    }