.search-container {
    margin: 20px;
}

.search-container ::placeholder{
    color: #000000;
}

#searchInput {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #f1bc91;
}

.search-result-item {
    margin-bottom: 20px;
    background-color: #503a2c;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-result-item:hover {
    background-color: #f0f0f0;
}

.manga-actions {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.btn-hide {
    background-color: #ff9800;
}

.btn-delete {
    background-color: #f44336;
}